// reset-------
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// debug--------------
.debug{
  background-color: rgba(255, 0, 0, 0.212);
  border: 1px solid black;
}
.debug2{
  background-color: rgba(72, 255, 0, 0.212);
  border: 1px solid black;
}

// body
body{
  font-family: 'Concert One', cursive;
  background-color: $bg-black;
}

.main_wrapper{
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}